<div class="card text-center mt-5" style="width: 40%; margin: auto;">
  <h2 class="ui icon header">
    <i class="reply icon"></i>
    Designation Response
  </h2>
  <div class="card-body">
    <div class="ui divider"></div>
    <div class="ui negative message text-left" *ngIf="error">
      <i class="close icon"></i>
      <div class="header">
        {{error.description}}
      </div>
      <p>{{error.message}}</p>
    </div>
    <div class="ui positive message text-left" *ngIf="designation">
      <div class="header" *ngIf="designation.status == 'ACCEPTED'">
        Designation accepted
      </div>
      <p *ngIf="designation.status == 'ACCEPTED'">{{designation.user.lastName}} {{designation.user.firstName}}, looks like you are the new lead!</p>
      <div class="header" *ngIf="designation.status == 'DECLINED'">
        Desingation declined
      </div>
      <p *ngIf="designation.status == 'DECLINED'">No worries, we'll find another user</p>
    </div>
  </div>
  <div class="card-footer text-left">
    <p> &copy; MSL
      <label>2019</label>
    </p>
  </div>
</div>