<div class="card" *ngIf="pools">
  <div class="card-header">Pools</div>
  <div class="card-body">
    <div>
      <label class="text-dark">Current Pool: Started on {{pools.current.startDate | date: 'shortDate'}}</label>
      <div class="progress text-center" style="height: 30px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
          aria-valuemax="100" [ngStyle]="{'width': pools.currentPoolProgress + '%'}">
          {{pools.currentPoolProgress}}% Complete
        </div>
      </div>
    </div>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pool of pools.past">
          <td data-label="StartDate">{{pool.startDate | date: 'short'}}</td>
          <td data-label="EndDate">{{pool.endDate | date: 'short'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>