spring:
  application:
    name: Design8or
  security:
    user:
      name: design8tor
      password: designator
  jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        database: H2
        show-sql: false
        properties:
          #  hibernate.cache.use_second_level_cache: true
          #  hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: false
        hibernate: 
            ddl-auto: create-drop
        defer-datasource-initialization: true
  quartz: 
     jdbc: 
       initialize-schema: NEVER
  
  datasource:
        url: jdbc:h2:mem:design8or_db;MODE=MYSQL;NON_KEYWORDS=user;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=create schema if not exists design8or_db;
        username: sa
        password:

  mail: 
    host: localhost 
    port: 25 
    username: changeit
    password: changeit
  sql:
    init:
      data-locations: classpath:data/data-h2.sql

  web:
    resources:
      static-locations: classpath:/email-icons/

springdoc:
  api-docs:
    path: /api-docs
    version: OPENAPI_3_1
  swagger-ui:
    path: /swagger-ui.html

app:

  cors:
    allowed-origins:
    - http://localhost:4200

  rotation:
    cron-expression: "0 0 10 ? * *" # Every day at 10 AM, 0 * * ? * * every minute
    stale-req-check-time-in-mins: 30

  designation-email:
    from: zerboedouard@gmail.com
    subject: You have been selected to be the lead
    service-base-url: http://localhost:8080
    redirect-url: http://localhost:3000

  browser-push-notification-keys:
    subject: Designation Event
    public-key: BOsT9tYV7LuR21EAs5AZ6qCwb9zsD8RRApInBOwVJwD5EOzYfoyPfbP0M0CYXI14lscch43JSiPO45b-B_n-dJo
    private-key: 7W5kxKIZUZ8yysvSUbW2mtNPou9HmpajsES2JRmAZO0
