<div class="card">
  <div class="card-header">Next Candidates</div>
  <div class="card-body">
    <div class="text-center">
      <h5 class="ui icon header">
        <i class="users icon"></i>
        Candidates
      </h5>
    </div>
    <div class="ui divider"></div>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates">
          <td data-label="FirstName">
            <i class="user icon"></i>
            {{candidate.firstName}}
          </td>
          <td data-label="LastName">{{candidate.lastName}}</td>
          <td data-label="EmailAddress">{{candidate.emailAddress}}</td>
        </tr>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan="4">
            <div class="ui right floated small primary labeled icon button" [ngClass]="{'disabled': candidates.length == 0}"
              data-toggle="modal" data-target="#manualDesignationModal" (click)="onDesignate()">
              <i class="hand point right icon"></i> Designate Manually
            </div>
            <div class="ui labeled button" tabindex="0">
              <div class="ui basic blue button">
                <i class="users icon"></i> Candidates
              </div>
              <a class="ui basic left pointing blue label">
                {{candidates.length}}
              </a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- Manual Designation Modal -->
<div class="modal fade" id="manualDesignationModal" tabindex="-1" role="dialog" aria-labelledby="manualDesignationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manualDesignationModalLabel">Designate User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="userSelectionForm" (ngSubmit)="designate()">
        <div class="modal-body">
          <label>Select User</label>
          <select name="user" formControlName="userId" class="custom-select" (change)="onUserSelectionChange($event.target.value)">
            <option *ngFor="let user of candidates" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onUserSelectionCanceled()">Cancel</button>
          <button class="ui primary labeled icon button" [disabled]="!userSelectionForm.valid">
            <i class="hand point right icon"></i>Designate
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

