.horizontalLayout {
    display: flex;
    justify-content: space-between; /* Adjusts space between items */
    gap: 16px; /* Adds space between CurrentPool and Users */
    align-items: center; /* Aligns items vertically in the center */
}

.mainLayout {
    display: flex;
    min-height: 600px;
    gap: 16px;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.card {
    margin: 10px;
    max-width: 100%;
}

.controls {
    margin-top: 10px;
}

.controlButtons {
    margin-top: 10px;
}

.controlButton {
    margin-right: 5px;
}