<div class="card">
  <div class="card-header">Application Configuration</div>
  <div class="card-body">
    <div class="text-center">
      <h5 class="ui icon header">
        <i class="cogs icon"></i>
        Parameters
      </h5>
    </div>
    <div class="ui divider"></div>
    <div class="row">
      <div class="card col-lg-5">
        <div class="card-body">
          <h2 class="ui header">
            <i class="sync alternate icon"></i>
            <div class="content">
              Rotation
              <div class="sub header">Manage when lead is designated</div>
            </div>
          </h2>
          <div class="ui divider"></div>
          <app-rotation></app-rotation>
        </div>
      </div>
      <div class="card col-lg-6 ml-2">
        <div class="card-body">
          <h2 class="ui header">
            <i class="bullhorn icon"></i>
            <div class="content">
              Broadcast For Next Lead
              <div class="sub header">Manage when to broacast for new lead if designated user does not respond in
                time</div>
            </div>
          </h2>
          <div class="ui divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>