<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
</head>

<body class="mt-5">
    <div class="card text-center" style="width: 40%;margin-left: auto; margin-right: auto">
        <div class="card-body">
            <i class="fas fa-hand-point-right fa-5x"></i>
            <p class="font-weight-bold">Design8or</p>
            <hr>
            <div class="m-3">
                <p class="card-text">
                    Howdy <label th:text="|${user.firstName} ${user.lastName}|">Edouard ZERBO</label>, you have been selected to be the lead.
                </p>
            </div>
            <a th:href="@{|${reponseUrl}?answer=ACCEPT|}" class="btn btn-success">
                    <i class="fas fa-thumbs-up"></i> Count on me!
                </a>
            <a th:href="@{|${reponseUrl}?answer=DECLINE|}" class="btn btn-danger">
                <i class="fas fa-thumbs-down"></i> Sorry, not today
            </a>
        </div>
        <div class="card-footer text-left">
            <p> &copy; SimpleSoft <label>[[${#dates.format(#dates.createNow(), 'yyyy')}]]</label></p>
        </div>
    </div>
</body>

</html>